<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="app/public/js/jquery-3.2.1.js"></script>
  ​<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>
    <div class="container-fluid navbar-expand-lg shadow m-0 p-0 mr-0 bg-lighter"  >
         <nav class="navbar navbar-expand-sm bg-light navbar-light p-0   ">
            <div class="collapse navbar-collapse " style="background-color:#9c103e">
                <div  class="navbar-brand title-nav logo-collapse title-nav p-3 mr-0 font-weight-bold;"style="background-color:white">
                  <b>S</b>chool<b>B</b>ag
                </div>
                <div class="collapse navbar-collapse bg-muted">
                    <ul class="navbar-nav navbar-dark p-0 ">
                      <li class="navbar text-white">Home</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right ml-auto">
                         <li class="navbar text-white">Log in</a>
                         </li>
                         <li class="navbar text-white">Sign up</a>
                         </li>
                    </ul>
                </div>
             </div>
           </nav>
       </div>
<br>
    <% subjects.forEach(function (subjects) { %>
<!-- ​    <div class="m-auto"> -->
  <div class="col-md-3 cards float-left">
    <div class="card border-danger mx-sm-1 p-3">
      <div class="text-info text-center mt-3">
        <div class="text-info text-center mt-2">
          <div class="card-img m-0 p-0">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.planitplus.net%2FSchools%2FOptionChoices%2F&psig=AOvVaw0pS1eUm0unYmJs9cneJSXH&ust=1584003417146000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjk8dyGkugCFQAAAAAdAAAAABAD" alt="banner" width="100%" class="card-img-top rounded p-0 m-0">
  </div>
        <a href="/tutor" onclick="sendsubid('<%= subjects.subjectid %>')"><h1><%= subjects.subject %></h1></a>
        <p id="subject"><%= subjects.subjectid %></p>
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->
    <% }) %>
    <script type="text/javascript">
      function sendsubid(sid) {
        var subject = sid;
        var params = "subject="+subject;
        $.post("/subject",params,function(data){
        });
      }
    </script>
  </body>
</html>
