<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="app/public/js/jquery-3.2.1.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script> -->
    ​<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title></title>
  </head>
  <body>

    <% tutors.forEach(function (tutors) { %>

        <div class="m-auto">
        <div class="col-md-3 cards float-left">
          <div class="card border-info mx-sm-1 p-3">
            <div class="text-info text-center mt-3">
              <div class="text-info text-center mt-2">
                <a href="/syllabus" onclick="sendtutid('<%= tutors.tutorid %>')"><h1><%= tutors.name %></h1></a>
                <p><%= tutors.tutorid %></p>
              </div>
            </div>
          </div>​
        </div>
      </div>

      <% }) %>

      <h1>hello</h1>

    <script type="text/javascript">
      function sendtutid(tid) {
        var tutor = tid;
        var params = "tutor="+tutor;
        $.post("http://localhost:8000/tutor",params,function(data){
        });
      }

    </script>

  </body>
</html>
